@model IEnumerable<WebApp003_CodeFirst.Models.Sala>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Filtro por nombre: @Html.TextBox("filter")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recursos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recursos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SalaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SalaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SalaId })
        </td>
    </tr>
}

</table>
